#editor {

  position: fixed;
  top: 0%;
  left: 0%;
  width: 50vw;
  height: 100%;

   -webkit-tap-highlight-color: red;
    -webkit-user-select: text;
  user-select: text;

}

.CodeMirror {
  border: 1px solid #eeeeee;
  height: 100% !important;
}

#view {
  position: fixed;
  top: 0px;
  left: 50vw;
  width: 50vw;
  height: 100%;
  
  overflow: auto;
  /*background-color: yellow;*/
}


#container {
   position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  /*background-color: blue;*/
}


#screenShareSlider {
  text-align: center;
  line-height: 30px;
  
  font-weight: 600;
  background-color:orange;
  border-style: solid;
  border-radius: 30px;
  border-width:5px;
  position: absolute;
  left: 50vw;
  top: 50vh;
  width: 30px;
  height: 30px;
  transform: translate(-50%,-50%);
  cursor: move;
  z-index: 1000;
}

vert {
  color: green;
}

rouge {
  color: red;
}

jaune {
  color: yellow;
}

orange {
  color: orange;
}

rose {
  color: pink;
}

bleu {
  color: blue;
}

gris {
  color: gray;
}

blanc {
  color: white;
}

violet {
  color: violet;
}

olive {
  color: olive;
}

turquoise {
  color: turquoise;
}

avoine {
  color: wheat;
}

saumon {
  color : salmon;
}

peche {
  color: peachPuff;
}

orangeRouge {
  color: OrangeRed;
}

navy {
  color: navy;
}

ivoire {
  color: ivory;
}

or {
  color: gold;
}

chocolat {
  color: chocolate;
}

marron {
  color: brown;
}

noir {
  color : black;
}

beige {
  color: beige;
}